<h1>Main Page 'app.component'</h1>

<!--<a routerLink="/dog" routerLinkActive="active">Dog</a>-->
<!--<a routerLink="/cat" routerLinkActive="active">Cat</a>-->
<!--<a routerlink="/profile" routerlinkactive="active">profile</a>-->
<a routerLink="login" routerLinkActive="active">login</a>
<!--<a routerlink="/signup" routerlinkactive="active">sign up</a>-->
<a routerLink="profile" routerLinkActive="active">profile</a>
<a routerLink="cat" routerLinkActive="active">cat</a>
<a routerLink="dog" routerLinkActive="active">dog</a>
<a routerLink="/" routerLinkActive="active">home</a>
<router-outlet></router-outlet>

