<md-sidenav-layout fullscreen>

  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>


  <md-toolbar color="primary" >
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
     <!-- <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon> 
    </button>-->

    <span>Farm Hack</span>

   <span class="app-toolbar-filler"></span>

   <button md-button align="end center" color="black">
      Home
    </button>
    <div class="divider"></div> 
   <!--  <button md-button [md-menu-trigger-for]="menu">
    Different Language
    </button>

    <md-menu #menu="mdMenu">
        <button md-menu-item> English </button>
        <button md-menu-item> Hindi </button>
        <button md-menu-item> Gujrati </button>
        <button md-menu-item disabled> Sanskrit </button>
    </md-menu>
 -->
    <div class="divider"></div> 

   <button md-button align="end center">
      Sign up
    </button>
    <div class="divider"></div> 
   <button md-button align="end center" >
      Log in
    </button>

  </md-toolbar>

  <div class="app-content">


    <div class="form">
      <md-card>
        <md-card-title>Create your profile</md-card-title>
        <md-card-content>
          <form>
            <md-input><md-placeholder><i class="material-icons app-input-icon">account_circle</i> User name</md-placeholder></md-input>
            <md-input><md-placeholder><i class="material-icons app-input-icon">account_balance</i> Address </md-placeholder></md-input>
            <md-input><md-placeholder><i class="material-icons app-input-icon">face</i> Full name </md-placeholder></md-input>
            <md-input><md-placeholder><i class="material-icons app-input-icon">fingerprint</i> Password </md-placeholder></md-input>
            Who are you?
            <md-checkbox-group>
              <md-checkbox>Farmer</md-checkbox>
              <md-checkbox>Transporter</md-checkbox>
              <md-checkbox>Buyer</md-checkbox>
            </md-checkbox-group>
          </form>
        <md-card-actions align="center">
          <button md-raised-button color="primary">POST</button>
        </md-card-actions>
        </md-card-content>
      </md-card>
    </div>



<div class="form">
      <md-card>
        <md-card-title>Welcome back!</md-card-title>
        <md-card-content>
          <form>
            <md-input><md-placeholder><i class="material-icons app-input-icon">account_circle</i> User name</md-placeholder></md-input>
            <md-input><md-placeholder><i class="material-icons app-input-icon">fingerprint</i> Password </md-placeholder></md-input>
          </form>
        <md-card-actions align="center">
          <button md-raised-button color="primary">POST</button>
        </md-card-actions>
        </md-card-content>
      </md-card>
    </div>


    <div align="center">
    <md-card>
      <md-list>
       <h3 md-subheader>My Crops</h3>
       <md-list-item *ngFor="let folder of folders">
          <md-icon md-list-avatar>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
          <p md-line class="demo-2"> {{folder.updated}} </p>
       </md-list-item>
       <md-divider></md-divider>
       <h3 md-subheader>Other Details</h3>
       <md-list-item *ngFor="let note of notes">
          <md-icon md-list-avatar>note</md-icon>
          <h4 md-line>{{note.name}}</h4>
          <p md-line class="demo-2"> {{note.updated}} </p>
       </md-list-item>
      </md-list>
    </md-card>
    </div>


    <div class="card-container">
    <md-card *ngFor="let dog of dogs">
      <img md-card-image [alt]="dog.name" src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png">
      <md-card-title>Crop Name</md-card-title>
       <h3 md-subheader>Description:</h3>

      <md-card-content class="secondary">
       <br/>Type: <br/> Amount(kgs): <br/> Location: <br/> Estimated price/kg:  <br/> Selling mandi: <br/>
      </md-card-content>
      Active Bids :

      <md-list>
       <h3 md-subheader>Transporter</h3>
       <md-list-item *ngFor="let folder of folders">
          <md-icon md-list-avatar>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
          <p md-line class="demo-2"> {{folder.updated}} </p>
       </md-list-item>
       <md-divider></md-divider>
       <h3 md-subheader>Buyer</h3>
       <md-list-item *ngFor="let note of notes">
          <md-icon md-list-avatar>note</md-icon>
          <h4 md-line>{{note.name}}</h4>
          <p md-line class="demo-2"> {{note.updated}} </p>
         </md-list-item>
        </md-list>

      <md-card-actions align="end">
        <button md-button color="primary">Bid</button>
        <button md-button color="primary">Know More</button>
      </md-card-actions>
    </md-card>
  </div>




  <div align="center">
    <md-card class="button-box" align="center">
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>
    </div>
    <md-card>
      <md-radio-group>
        <md-radio-button value="Looking for love">Looking for love</md-radio-button>
        <md-radio-button value="Just browsing">Just browsing</md-radio-button>
      </md-radio-group>
      <div>
        <md-checkbox indeterminate="true">Is a good dog</md-checkbox>
      </div>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section" align="center">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"
            [value]="progress"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab>
          <template md-tab-label>
            Earth
          </template>
          <template md-tab-content>
            <p>EARTH</p>
          </template>
        </md-tab>
        <md-tab>
          <template md-tab-label>
            Fire
          </template>
          <template md-tab-content>
            <p>FIRE</p>
          </template>
        </md-tab>
      </md-tab-group>
    </md-card>


    <md-card>
      <md-icon>build</md-icon>
    </md-card>

  </div>






<div class="card-container">
    <md-card *ngFor="let dog of dogs">
      <img md-card-image [alt]="dog.name" src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png">
      <md-card-title>{{dog.name}}</md-card-title>
      <md-card-content class="secondary">
        Very ipsum such dolor amet wow very divs very content concern, very much develop much spans
        much layer so so scare such spans such padding many beta very layer much excuse.
      </md-card-content>
      <md-card-actions align="end">
        <button md-button color="primary">SNIFF</button>
        <button md-button color="primary">WOOF</button>
      </md-card-actions>
    </md-card>
  </div>


<md-card>
  <md-card-actions align="center">
    <md-card-content>
      This is a new card
    </md-card-content>
    <button md-button color="primary">
      Sign In 
    </button>
    <button md-button color="primary"> Sign Up </button>
  </md-card-actions>
</md-card>



</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
